/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 300px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #eaebed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4ebf3;
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  color: #0b69ff;
}

.description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #333333;
  text-align: center;
}

.random-button {
  height: 30px;
  width: 80px;
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

.random-number {
  font-family: 'Roboto';
  font-size: 30px;
  color: #0b69ff;
  font-weight: 700;
}
